<!DOCTYPE html>
<html>
  <head>
    <title>Cidermics Admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
    
  </head>
  <body>
  	<% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="container">
		<div class="row">
			<h5>콘텐츠 수정하기</h5>
			<form action="/adm/contents/insert/upload" method="post" enctype="multipart/form-data">
			    <!-- <input type="file" name="file" />
			    <input type="submit" /> -->
				<div class="file-field input-field">
			    	<div class="btn">
						<span>이미지 등록</span>
				    	<input type="file" name="file" multiple>
			    	</div>
			      	<div class="file-path-wrapper">
			        	<input class="file-path validate" type="text">
			      	</div>
			    </div>
			    <input type="submit" class="btn waves-effect waves-light" value="업로드" />
			</form>
			<form class="col s12" id="cform">
				<div class="row" style="margin-top:  2em;">
					<input type="hidden" value="<%= contents[0].con_no %>" name="no"> 
					<div class="input-field col s12">
						<select name="category">
					      <option value="" disabled>카테고리를 정해주세요</option>
					      
					      <% for(var i=0; i < cate.length; i++) {  %> 
    					      <option value="<%=cate[i].cate_no%>" <% if( contents[0].con_category == cate[i].cate_no){ %> selected <% } %> > <%=cate[i].cate_name%> </option>
    					      
					      <% } %>
					      
					    </select>
				    	<label>카테고리</label>
				   </div>
				    
				    
					<div class="input-field col l12">
					    
						<input id="title" type="text" class="validate" value="<%= contents[0].con_title %>">
						<label for="제목">제목</label>
						
						<!-- Modal Trigger -->
					    <a class="waves-effect waves-light btn modal-trigger1" href="#modal1">이미지 설정</a>
					    
						
					 	<!-- Modal Structure -->
					    <div id="modal1" class="modal">
					    	<div class="navbar-fixed">
    							<nav>
      								<div class="nav-wrapper">
        							<a class="brand-logo"><h5>이미지 등록</h5></a>
        							<ul class="right hide-on-med-and-down">
          								<li><a href="#!" class="btn-thumb modal-action waves-effect waves-green btn-flat">썸네일 설정</a></li>
          								<li><a href="#!" class="btn-contents modal-action waves-effect waves-green btn-flat">본문 이미지 설정</a></li>
        							</ul>
      								</div>
    							</nav>
  							</div>
  							
						    <ul class="pagination"></ul>
					    	<!--div class="modal-footer">
						      <a href="#!" class="btn-thumb modal-action waves-effect waves-green btn-flat">썸네일 설정</a>
						      <a href="#!" class="btn-contents modal-action waves-effect waves-green btn-flat">본문 이미지 설정</a>
						    </div-->
						 
						 
					
						    <div class="modal-content">
						      <div class="images">
						      </div>
						    </div>
						    
					    </div>
					    
						<div class="preview row" style="display:block;">
							<p>대표 이미지</p>
							<img src="<%= contents[0].con_photo %>" class="img-responsive col l4" />
							<input type="hidden" name="photo" value="<%= contents[0].con_photo %>">
						</div>
						
						<textarea id="content"><%- contents[0].con_content %></textarea>
						
						<script type="text/javascript">
							$(document).ready(function() {
							    $('select').material_select();
							});
							
						</script>
						
						<% if (contents[0].con_content) { %>
							<script>
							$(document).ready(function() {
								
								var oEditors = [];
								nhn.husky.EZCreator.createInIFrame ({
									
									oAppRef : oEditors,
																	
									elPlaceHolder : "content",
									
									sSkinURI : "/smart_editor/SmartEditor2Skin.html",
									
									fOnAppLoad : function(){
									   //예제 코드
									   
									   // var F_body = $('iframe').contents().find('#se2_iframe').contents().find('.se2_inputarea');
									   // F_body.html("<%- contents[0].con_content %>");
									   //var obj = $('#updateCon');
									   //oEditors.getById["content"].exec("UPDATE_IR_FIELD", obj);
									  },
									
									fCreator : "createSEditor2"
								});
								
								
							}); 
							</script>	
						<% } %>
												
					</div>
							
				</div>
				
				
				<div class="input-field col s12">
                    <select id="user">
                        <option value="">에디터를 정해주세요</option>
                        <% for(var i=0; i < user.length; i++) {  %> 
                          
                            <option value="<%=user[i].user_no%>/<%=user[i].user_name%>" data-icon="<%= user[i].profile_img %>" <% if( contents[0].user_no == user[i].user_no){ %> selected <%} %>> <%=user[i].user_name%> </option>
                         
                        <% } %>
                    </select>
                    <label>에디터</label>
                </div>
                <div class="input-field col s12">
                    <textarea name="userText" class="materialize-textarea"><%- contents[0].user_comment %>
                    </textarea>
                    <label>에디터 한마디</label>
                </div>
				 <div class="input-field col s12">
				
				<input id="rdate" name="rdate" type="text" class="validate" maxlength="12" value="<%= contents[0].con_release %>">
				
				<label>보여지는 일자변경(예:201601011300) *띄어쓰기없이 12자리 년월일시분</label>
				</div>
				
				
				<input type="hidden" name="contents">			
				<input type="hidden" name="title">
				<input type="hidden" name="writer">         
                <input type="hidden" name="userNo">			
							
			</form>
			<div class="center-align">
				<button class="btn waves-effect waves-light" id="update">수정하기
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
    </div>
  </body>
  <script src="/js/custom.js"></script>
  
  </html>
