<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1"-->
     
    <title>Cidermics Admin</title>
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    
    <link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

    <style>
div#fixed {
    position: fixed;
    top:0;
    left:0;
    width:100%;
}
</style>
    
  </head>
  <body>
     <% var data= CP; %>
    <% include ../include/nav.ejs %>
    
    <div class="row">
    <form class="col s12">
      <div class="row">
				<div class="num col-xs-12 col-lg-12"><span>신청번호 : </span>
				<%=finance[0].fi_app_no%>
				</div>
				<div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" value="<%=finance[0].fi_app_name%>">
          <label for="icon_prefix">신청자명 : </label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" value="<%=finance[0].fi_app_phone%>">
          <label for="icon_telephone">Telephone</label>
        </div>
         <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="email" class="validate" value="<%=finance[0].fi_app_email%>">
          <label for="icon_telephone">email</label>
        </div>
         <div class="input-field col s6">
          <i class="material-icons prefix">Job</i>
          <input id="icon_group_work" type="work" class="validate" value="<%=finance[0].fi_app_job%>">
          <label for="icon_telephone">직업/업종</label>
        </div>
				<div class="mail col-xs-12 col-lg-12"><span>이메일 주소 : </span>
				<%=finance[0].fi_app_email%>
				</div>
				<div class="mail col-xs-12 col-lg-12"><span>이메일 주소 : </span>
				<%=finance[0].fi_app_job%>
				</div>
				<div class="mail col-xs-12 col-lg-12"><span>신청 경로 : </span>
				<%=finance[0].fi_app_path%>
				</div>
				<div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"><%-finance[0].fi_app_comment%></textarea>
          <label for="icon_prefix2">글 내용</label>
        </div>
				<div class="mail col-xs-12 col-lg-12"><span>신청 날짜 : </span><%=finance[0].fi_app_upDate%>
				</div>
		</div>
    </form>
  </div>
		
		<a href="/adm/finance" style="cursor:pointer"><div class="btn-apply">뒤로가기</div></a>
		
</div>
    </div>
  </body>
</html>