<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">

<!-- 네이버 -->
<meta name="naver-site-verification" content="083657cb98aa9a4a9c62dedeffddfb2490545da0"/>

<!--페이스북 관련 -->
<!--meta property="fb:admins" content="{jkhhihi@naver.com}"/--><!--페이스북 슈퍼아이디-->


<!--공유 meta tags-->
<meta name="title" content="<%= contents[0].con_title %>" />
<meta property="og:image" content="http://www.cidermics.com<%= contents[0].con_photo %>" />

<meta property="og:title" content="<%= contents[0].con_title %>" />	
<meta property="og:site_name" content="사이다경제">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.cidermics.com/contents/detail/<%= contents[0].con_no%>" />
<meta property="og:description" content="사이다경제" />


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= contents[0].con_title %> - 사이다경제 | 콘텐츠</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents_detail.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<script src="/js/modernizr.custom.js"></script>

<script src="/js/gotoup.js"></script>

<link rel="shortcut icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>
<link rel="icon" href="http://cidermics.com/page_imgs/fixed_img/favicon.ico"/>

<!--구글 애널리틱스 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82643610-1', 'auto');
  ga('send', 'pageview');

</script>


<style>
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>

<script type="text/javascript">
 var i = 0;
$(document).ready(function() {
 
    var currentPage = 1;
    checkForHash();
 
    $('#btn1').add('#btn2').add('#btn3').bind('click', function(e) {
        currentPage = $(this).val();
        showPage($(this).val());
    });
 
    $('#link').bind('click', function(e) {
        document.location.hash = "#" + currentPage;
    });
});
 
function checkForHash() {
    if(document.location.hash){
        var HashLocationName = document.location.hash;
        HashLocationName = HashLocationName.replace("#","");
        $("#display").html(HashLocationName)
    } else {
        $("#display").html($('#btn1').val())
    }
}
 
function showPage(value) {
    $("#display").html(value)
}
</script>

</head>
<body>
<!--위로가기 버튼-->
<div id="but_top"><img class="gototop" src="/page_imgs/fixed_img/btn_gotoup.svg"></div>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% include ../top %>

<div class="contents_detail-mob_menu"><img src="/page_imgs/fixed_img/detail_line.png"></div>


<div class="bg-blue">
<div class="appbanner container">
	<a href="https://play.google.com/store/apps/details?id=com.cidermics.cmics">
	<img class="img-responsive" src="/page_imgs/main_img/appbanner.jpg"></a>
</div>
<div class="bg-white container">
<div class="mob-bg-blue">
<div class="mob-bg-white container">
<div class="contents container">
		<div class="row">
				<div class="col-xs-12 title" style="font-family: Noto-Bold, Helvetica, Arial, sans-serif;"><%= contents[0].con_title%></div>
				<div class="col-xs-12 icon-menu">
					<%= contents[0].cate_name %>
					
					<!--img src="/page_imgs/contents_img/icon_menu_in.png"--></div>
				<div class="col-xs-6 date-view"><span class="date"><%= contents[0].con_upDate %></span><br>
						<span class="views"><%=contents[0].con_viewCount%> 읽음</span></div>
				<div class="col-xs-6 editor" align="right"><br>
						written by <%=contents[0].con_writer%></div>
				<div class="col-xs-12 line-1px"></div>
				
				
				<div class="col-xs-12 contents-in">
					<%- contents[0].con_content %>
				</div>
		</div>
		
		
		
		
<script type="text/javascript">

function CopyToClipboard ( tagToCopy, textarea ){ 

        textarea.parentNode.style.display = "block"; 

        var textToClipboard = ""; 
        if ( "value" in tagToCopy ){    textToClipboard = tagToCopy.value;    } 
        else {    textToClipboard = ( tagToCopy.innerText ) ? tagToCopy.innerText : tagToCopy.textContent;    } 

        var success = false; 

        if ( window.clipboardData ){ 
                window.clipboardData.setData ( "Text", textToClipboard ); 
                success = true; 
        } 
        else { 
                textarea.value = textToClipboard; 

                var rangeToSelect = document.createRange(); 

                rangeToSelect.selectNodeContents( textarea ); 

                var selection = window.getSelection(); 
                selection.removeAllRanges(); 
                selection.addRange( rangeToSelect ); 

                success = true; 

                try { 
                    if ( window.netscape && (netscape.security && netscape.security.PrivilegeManager) ){ 
                        netscape.security.PrivilegeManager.enablePrivilege( "UniversalXPConnect" ); 
                    } 

                    textarea.select(); 
                    success = document.execCommand( "copy", false, null ); 
                } 
                catch ( error ){ 
                    success = false; 
                    console.log( error ); 
                } 
        } 

        textarea.parentNode.style.display = "none"; 
        textarea.value = ""; 

        if ( success ){ alert( ' 클립보드에 복사되었습니다. \n "Ctrl+v"를 사용하여 원하는 곳에 붙여넣기 하세요. ' ); } 
        else {    alert( " 복사하지 못했습니다. " );    } 

} 

</script>
<!--div style="display: none;"><textarea id="myClipboard"></textarea></div>
<br>
<center>
이 글의 트랙백 주소 복사하기
<p onclick="CopyToClipboard( this, myClipboard )"> http://www.cidermics.com/contents/detail/<%=contents[0].con_no%></p>
</center-->
		
		<div class="banner">
		 <img class="img-responsive" src="/page_imgs/main_img/consulting.jpg">
		</div>
		
		<div class="contents container">
				<p>&nbsp;</p>
				<div class="row like" align="center">
					<div class="fb-like" data-href="http://www.cidermics.com/contents/detail/<%= contents[0].con_no %>" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</div>
		</div>
		<!--div class="row share" align="center">
				<div class="col-xs-12"><div class="fb-share-button" data-href="http://www.cidermics.com/contents/detail/<%= contents[0].con_no %>" data-layout="button" data-size="large" data-mobile-iframe="true">
					<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.cidermics.com%2F&amp;src=sdkpreparse">공유하기</a></div>
				</div>
		</div-->
		<div class="row editor-introduce container" style="padding:0 10px 0 10px;">
				<div class="col-xs-12 mob-editor-con">
						<div class="row">
								<div class="col-xs-12 editor-picture" align="center"><img class="img-responsive" width="80" src="<%= contents[0].user_sns_icon %>"></div>
								<div class="col-xs-12 editor-intro" align="left">
										<p>에디터 : <%=contents[0].con_writer%></p>
										<p>" <%=contents[0].user_comment%> " </p>
										<p><%=contents[0].user_email%></p>
								</div>
								<div class="col-xs-12 editor-sns" align="right">
									<a href="<%= contents[0].user_sns_url%>"><img src="/page_imgs/contents_img/icon_editor_facebook.png"></a>
								</div>
						</div>
				</div>
				<div class="col-xs-12 web-editor-con">
						<div class="row">
								<div class="col-xs-2 editor-picture"><img class="img-responsive" width="135" src="<%= contents[0].user_sns_icon %>"></div>
								<div class="col-xs-6 editor-intro">
										<p>에디터 : <%=contents[0].con_writer%></p>
										<p>" <%=contents[0].user_comment%> " </p>
										<p><%=contents[0].user_email%></p>
								</div>
								<div class="col-xs-4 editor-sns" align="right"><a href="<%= contents[0].user_sns_url%>"><img src="/page_imgs/contents_img/icon_editor_facebook.png"></a>
								</div>
						</div>
				</div>
				
		</div>
		<div class="col-xs-12 line-1px"></div>
		
</div>
</div>
</div>

		<div class="row comment container" align="center">
				<div class="col-xs-12" style="padding:0;">
					<div class="fb-comments" data-href="http://www.cidermics.com/contents/detail/<%= contents[0].con_no %>" data-width="100%" data-numposts="5" data-mobile></div>
				</div>
		</div>
		<div class="row pre-next container">
		
		<% for(var i=0; i<contents.length; i++) {
		if (preNext[i].con_no < contents[i].con_no && preNext[i+1] == null) { %>
			<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-next">
						<p>이전 편</p>
						<p class="next-title"><%= preNext[i].con_title %></p>
				</div>
			</a>
		
		<% } else if (preNext[i].con_no > contents[i].con_no && preNext[i+1] == null){ %>
			<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-pre">
					
						<!--img class="img-responsive" src="<%=preNext[i].con_photo%>"-->
						<p>다음 편</p>
						<p class="pre-title"><%= preNext[i].con_title %></p>
					
				</div>
			</a>
		<% } else { %>
				
				<a href="/contents/detail/<%= preNext[i+1].con_no %>">
				<div class="col-xs-6 con-next">
						<p>이전 편</p>
						<p class="next-title"><%= preNext[i+1].con_title %></p>
				</div>
				</a>
				<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-pre">
					
						<!--img class="img-responsive" src="<%=preNext[i].con_photo%>"-->
						<p>다음 편</p>
						<p class="pre-title"><%= preNext[i].con_title %></p>
					
				</div>
				</a>
				<% } %>
		</div>
		<% } %>
		
		<p class="title-recommendation" align="center">사이다경제 추천</p>
		
		<div class="recommendation">

			<ul class="grid effect-2" id="grid">
				<% for(var j = 0; j<cont.length; j++){ %>
					
				<li>
				<div>
					
					<a href="/contents/detail/<%= cont[j].con_no %>">
					<div class="con-img" align="center"><img class="img-responsive" src="<%= cont[j].con_photo %>"></div></a>
					<p><a href="/contents/detail/<%= cont[j].con_no %>"><%= cont[j].con_title %></a></p>
					
				</div>
				</li>
			<% } %>
			</ul>
				
		</div>

<script src="/js/masonry.pkgd.min.js"></script>
		<script src="/js/imagesloaded.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>
</div>
</div>

<% include ../bottom %>

</body>
</html>
