<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>사이다경제 | 콘텐츠</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/cid_contents_detail.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<!--페이스북 연동 스크립트-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
	
<% include ../top %>


<div class="contents container">
		<div class="row">
				<div class="col-xs-12 title">[사이다주식] 브렉시트에 제대로 한방 맞은 우리 은행,
						앞으로 주가의 행방은?</div>
				<div class="col-xs-12 icon-menu">
					<%= contents[0].cate_name %>
					<!--img src="/page_imgs/contents_img/icon_menu_in.png"--></div>
				<div class="col-xs-6 date-view"><span class="date"><%= contents[0].con_regDate %></span><br>
						<span class="views"><%=contents[0].con_viewCount%> 읽음</span></div>
				<div class="col-xs-6 editor" align="right"><br>
						written by <%=contents[0].con_writer%></div>
				<div class="col-xs-12 line-1px"></div>
				
				
				<div class="col-xs-12 contents-in">
					<%- contents[0].con_content %>
				</div>
		</div>
		
		
		<div class="row editor-introduce">
				<div class="col-xs-12 line-1px"></div>
				<div class="col-xs-12 mob-editor-con">
						<div class="row">
								<div class="col-xs-12 editor-picture" align="center"><img class="img-responsive" width=80 src="<%= contents[0].user_sns_icon %>"></div>
								<div class="col-xs-12 editor-intro" align="left">
										<p>에디터 : <%=contents[0].con_writer%></p>
										<p>에디터曰 " <%=contents[0].user_comment%> " </p>
										<p><%=contents[0].user_email%></p>
								</div>
								<div class="col-xs-12 editor-sns" align="right">
									<img width="35" src="/page_imgs/contents_img/icon_editor_facebook.png">
									<img width="35" src="/page_imgs/contents_img/icon_editor_inst.png">
									<img width="35" src="/page_imgs/contents_img/icon_editor_twitt.png">
								</div>
						</div>
				</div>
				<div class="col-xs-12 web-editor-con">
						<div class="row">
								<div class="col-xs-2 editor-picture"><img class="img-responsive" src="<%= contents[0].user_sns_icon %>"></div>
								<div class="col-xs-6 editor-intro">
										<p>에디터 : <%=contents[0].con_writer%></p>
										<p>에디터曰 " <%=contents[0].user_comment%> " </p>
										<p><%=contents[0].user_email%></p>
								</div>
								<div class="col-xs-4 editor-sns" align="right"><img src="/page_imgs/contents_img/icon_editor_facebook.png">
									<img src="/page_imgs/contents_img/icon_editor_inst.png">
									<img src="/page_imgs/contents_img/icon_editor_twitt.png"></div>
						</div>
				</div>
				<div class="col-xs-12 line-1px"></div>
		</div>
		
		
</div>
<!--배너뿌림-->
<div class="mob-banner">
		<div class="banner"></div>
</div>
<div class="web-banner container">
		<div class="banner"></div>
</div>
<div class="contents container">
		<div class="row like" align="center">
				<div class="col-xs-12 btn-like"><img src="/page_imgs/contents_img/btn_like.png"></div>
				<div class="col-xs-12 number-like">
						<p>777</p>
				</div>
		</div>
		<div class="row share" align="center">
				<div class="col-xs-12"><img src="/page_imgs/contents_img/btn_share.png"></div>
		</div>
		<div class="row comment" align="center">
				<div class="col-xs-12">
						<div class="fb-comments" data-href="/contents_detail/<%= contents[0].con_no%>" data-width="100%" data-numposts="5"></div>	
				</div>
		</div>
		<div class="row pre-next">
		
		<% for(var i=0; i<contents.length; i++) {
		
		if (preNext[i].con_no < contents[i].con_no && preNext[i+1] == null) { %>
			<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-pre">
					
						<p>이전 편<%= preNext[i].con_no %></p>
						<p class="pre-title"><%= preNext[i].con_title %></p>
				</div>
			</a>
		<% } else if (preNext[i].con_no > contents[i].con_no && preNext[i+1] == null) {%>
			<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-next">
						<p>다음 편</p>
						<p class="next-title"><%= preNext[i].con_title %></p>
				</div>
			</a>	
		<% } else { %>
				<a href="/contents/detail/<%= preNext[i].con_no %>">
				<div class="col-xs-6 con-pre">
						<p>이전 편</p>
						<p class="pre-title"><%= preNext[i].con_title %></p>
				</div>
				</a>
				<a href="/contents/detail/<%= preNext[i+1].con_no %>">
				<div class="col-xs-6 con-next">
						<p>다음 편</p>
						<p class="next-title"><%= preNext[i].con_title %></p>
				</div>
				</a>
				<% } %>
		</div>
		
		<% } %>
		<p class="title-relation">함께 읽으면 좋을 연관글</p>
		<div class="row relation">
				<div class="col-xs-12 col-sm-6">
						<div class="row ">
								<div class="col-xs-8 title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 img" align="right"><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				<div class="col-xs-12 col-sm-6">
						<div class="row">
								<div class="col-xs-8 title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 img" align="right"><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				<div class="col-xs-12 col-sm-6">
						<div class="row">
								<div class="col-xs-8 title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 img" align="right"><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				<div class="col-xs-12 col-sm-6">
						<div class="row">
								<div class="col-xs-8 title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 img" align="right"><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				
				<!--광고콘텐츠-->
				<div class="col-xs-12 col-sm-6">
						<div class="row ad">
								<div class="col-xs-8 ad-title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 ad-img" align="right">
									
									<tenping class="adsbytenping" tenping-ad-client="6xmr0TKMV0ShrP8MUy99Kd4CTu2wnRg9EbV1gZ92sbBtZexdqeSekvzA1xpNoGnB" tenping-ad-type="CZAh6Dz83kfxX1Iv1NS%2f7w%3d%3d" style="margin: 0px auto; width: 300px; display: block;"></tenping><script async src='http://tenping.kr/scripts/adsbytenping.min.js' ></script>
									<span>AD</span><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				<div class="col-xs-12 col-sm-6">
						<div class="row ad">
								<div class="col-xs-8 ad-title">[사이다경제] 매출 1조 달성한 유니클로,
										그 비결은?</div>
								<div class="col-xs-4 ad-img" align="right"><span>AD</span><img src="/page_imgs/contents_upload_thum/img_rela1.png"></div>
						</div>
				</div>
				<!---->
				
		</div>
		<p class="title-recommendation">사이다경제 추천</p>
		<div class="row recommendation">
			
			<% for(var i=0; i<contents.length; i++) { %>
				<div class="col-sm-4 col-xs-6">
					
					<a href="/contents/detail/<%= contents[i].con_no %>">
					<img class="img-responsive" src="<%= contents[i].con_photo %>"></a>
					
					
					<p><a href="/contents/detail/<%= contents[i].con_no %>">
						<%= contents[i].con_title %></a></p>
				</div>
			<% } %>
				<!--div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con1.jpg">
						<p>[사이다경제] EPL을 뒤흔드는 브렉시트의 공포!</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con2.jpg">
						<p>[사이다경제] 오버워치로 왕좌 탈환을 꿈꾸는
								블리자드!</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con3.jpg">
						<p>[사이다경제] 매출 1조 달성한 유니클로,
								그 비결은?</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con4.jpg">
						<p>[사이다경제] EPL을 뒤흔드는 브렉시트의 공포!</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con5.jpg">
						<p>[사이다경제] 오버워치로 왕좌 탈환을 꿈꾸는
								블리자드!</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con6.jpg">
						<p>[사이다경제] 매출 1조 달성한 유니클로,
								그 비결은?</p>
				</div>
				<div class="col-sm-4 col-xs-6"><img class="img-responsive" src="/page_imgs/contents_upload_thum/img_con1.jpg">
						<p>[사이다경제] EPL을 뒤흔드는 브렉시트의 공포!</p>
				</div-->
		</div>
</div>


<% include ../bottom %>

</body>
</html>
